[submodule "for-delete"]
	path = for-delete
	url = https://github.com/KrzysztofHeller/for-delete.git
[submodule "bbtest"]
	path = bbtest
	url = git@github.com:KrzysztofHeller/bbtest.git
[submodule "sub-x"]
	path = sub-x
	url = https://github.com/slskopytko/sub-x.git
